<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>

    <connectionStrings>
        <add name="ServersView.Properties.Settings.ServerListConnectionString"
            connectionString="Data Source=192.168.2.51;Initial Catalog=EcmServerList;Persist Security Info=false;User ID=ecm;Password=123qweASD;Connection Timeout=5"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <runtime>
          <generatePublisherEvidence enabled="false"/> 
      </runtime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
