<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EcmServerCard.Properties.Settings.EcmServerListConnectionString" connectionString="Data Source=tcp:sp13sql;Initial Catalog=EcmServerList;Persist Security Info=True;User ID=ecm;Password=123qweASD;Connection Timeout=5" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <runtime>
          <generatePublisherEvidence enabled="false"/> 
      </runtime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
